@mixin responsive-bg-image($url){
    background-image: url($url);
    background-size: cover;
    background-position: center center; 
    background-repeat: repeat;
}
@mixin inner-indent($left, $rigth){
    padding-left: $left;
    padding-right: $rigth;
}
@mixin golden-outline($offset){
    outline: solid 1px #E5C183;
    outline-offset: -$offset;
}
@mixin flexbox-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    box-sizing: border-box;
    min-height: 100vh;
    body{
        min-height: 100vh;
    }
    *, *:before, *:after{
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }
}
.wrapper {
    @include responsive-bg-image('https://cdn.shopify.com/s/files/1/0067/9588/6703/t/32/assets/main-bg-cut.png?v=4243181801934438667');
    height: 100vh;
    padding: 2rem 1rem;
    overflow-y: scroll;
}
.section-item{
    @include responsive-bg-image('https://files.slack.com/files-pri/TA09SHDRP-F0172BBV3SA/src_assets_light-background.png?pub_secret=ff8c7ba464');
    margin: 1rem 0;
}
.collections{
    .list-item1{
      @include responsive-bg-image('https://images.unsplash.com/photo-1566331219197-4bb79224e74a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
    }
    .list-item2{
      @include responsive-bg-image('https://images.unsplash.com/photo-1588065356647-2acaab6bf1ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
    }
    .list-item3{
      @include responsive-bg-image('https://cdn.shopify.com/s/files/1/0067/9588/6703/collections/LeMagnifiqueCollection_5c2d016e-f532-415b-938d-51edd6fbb211_600x.png?v=1563544896')
    }
    .list-item4{
      @include responsive-bg-image('https://images.unsplash.com/photo-1518931479438-62470470be9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
    }
    .list-item5{
      @include responsive-bg-image('https://images.unsplash.com/photo-1498814117408-e396f5507073?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
    }
    .list-item6{
      @include responsive-bg-image('https://images.unsplash.com/photo-1593166073850-b42e3507c969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
    }

    .collections__list{
        position: relative;
        @include flexbox-center;
        flex-wrap: wrap;
    }
    .collections__list-item{
        min-width: 250px;
        max-width: 600px;
        width: 40vw;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .collections__list-content{
        @include responsive-bg-image("https://files.slack.com/files-pri/TA09SHDRP-F01799GTN1H/src_assets_banner-back.png");
        position: relative;
        width: 50%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: .7rem solid rgba(255,255,255, 0.4);
      }
    .collections__item-title{
         text-align: center;
         color: white;
         font-size: 150%;
         line-height: 1.5;
         vertical-align: top;
    }
}
.inner-container{
    padding: 3rem 3vw;
}
.items-space{
    margin: 0.375rem;
}
.inner-outline{
    @include golden-outline(1rem);
}
.container-outline{
    @include golden-outline(1.5rem);
}
.item-button{
    text-decoration: none;
    color: #F3EEE8;
    background-color: #B08D5D;
    padding: 0.5rem 0.7rem;
    border-radius: 3px;
    transition: background-color 0.5s ease;
    &:hover{
        background-color: rgb(138, 95, 34);
    }
}
.about-section{
    position: relative;
    padding: 15vw;
    .about-section__white-block{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 510px;
        min-height: 330px;
        width: 50vw;
        height: 32vw;
        background-color: white;
        box-shadow: 2px 2px 7px black;
    }
    .about-section__front{
        @include flexbox-center;
        justify-content: space-between;
        position: relative;
    }
    .about-section__text-information{
        text-align: center;
    }
    .content{
        margin-bottom: 1rem;
    }
    .about-section__image{
        max-width: 400px;
        img{
            width: 100%;
            height: auto;
        }
    }
}


@media(min-width: 1201px){
  .inner-container{
    @include inner-indent(4vw, 4vw); 
  }
}

@media(max-width: 1200px){
    .inner-container{
        @include inner-indent(2rem, 2rem);
    }
}

@media(max-width: 800px){
    .collections__list-item{
        width: 90vw;
    }
}

@media(max-width: 640px){
    .inner-container{
        @include inner-indent(0, 0);
    }
    .wrapper{
        @include inner-indent(.375rem, .375rem);
    }
    .about-section__white-block,
    .about-section__image{
        display: none;
    }
}

@media(max-width: 420px){
    .wrapper{
        @include inner-indent(0, 0);
    }
    .inner-container{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
   .collections__list-item{
       min-width: 500px;
       max-width: 1200px;
   }
   .inner-container{
       padding: 3rem 0;
   }
}